#drop-indicator {
  display: flex;
  position: absolute;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  color: #fff;
  margin: 20px;
  background-color: rgba(22, 21, 21, 0.6);
  box-sizing: border-box;
  border-radius:8px;
}
#drop-indicator.invisible {
  display: none;
}

#file-fallback {
  display: none;
}
#file-label {
  margin-left: 6px;
  text-decoration: underline;
  cursor: pointer;
}
